<!doctype html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>About</title>
</head>
<body>
	<section>
		<div class="container mt-5">
			<div class="row">
				<div class="col-md-12">
					<div class="card ">
						<div class="card-header">
							<h1>About</h1>
						</div>
						<div class="card-body">
							<p>The Contact manager web based Application will allow you to manager 
								the User based Contact Management.
								the CRM based feature allow you to Manage Lead Follow Up & Expenses on Lead.	
							</p>
						</div>
						<div class="card-footer">Copyright © 2011 ABC Pvt. Ltd. All rights reserved.</div>	
					</div>
				</div>
			</div>	
		</div>	
	</section>
</body>
</html>